<h2>Calculator</h2>

<!--<form (submit)="onSubmit(player.value)">-->
<!--    <label>-->
<!--        <input #player placeholder="player name">-->
<!--    </label>-->

<!--</form>-->
<div>
    <input #OpTr1 placeholder="Insert Operation Term 1 "  id="Operation_Term_1" >
</div>
<div>
    <input #OpTr2 placeholder="Insert Operation Term 2 " id="Operation_Term_2" ></div>
<div>
    <button (click)="getSum(OpTr1.value,OpTr2.value)" class="btn btn-primary btn-block btn-lg">SUM</button>
    <button (click)="getSubstr(OpTr1.value,OpTr2.value)" class="btn btn-primary btn-block btn-lg">SUBTRACTION</button>
    <button (click)="getMultiplication(OpTr1.value,OpTr2.value)" class="btn btn-primary btn-block btn-lg">MULTIPLICATION</button>
    <button (click)="getDivision(OpTr1.value,OpTr2.value)" class="btn btn-primary btn-block btn-lg">DIVISION</button>
</div>


<p>Risultato : {{result}}</p>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
