<a [routerLink]="['/']">
  <h1>OldFashionPound</h1>
</a>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->